a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }

.thoughtList {
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.thought-date {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #808080;
    font-size: 15px;
    margin: 0px 15px;
    padding-bottom: 10px;
}

.singlethought {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    /* align-items: center; */
    /* text-align: center; */
}

.reaction-body {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #808080;
    font-size: 15px;
    margin: 0px 15px;
    padding-bottom: 10px;
    text-decoration: none;
}

.thought-date {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #808080;
    font-size: 15px;
    margin: 0px 15px;
    padding-bottom: 10px;
}

.thought-header {
    font-family: Noto Serif, serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    /* padding: 0.1rem; */
}

.thought-card {
    margin: 0 0 20px 0;
    border: 3px solid #39603d;
    background-color: white;
    border-radius: 10px;
    border-color: #39603d;
    color: #39603d;
    width: 65%;
}