
  a:link { text-decoration: none; }
  a:visited { text-decoration: none; }
  a:hover { text-decoration: none; }
  
  .thoughts {
    padding: 50px 100px;
    display: flex;
    /* height: 100vh; */
    justify-content: space-around;
    overflow: hidden;
    text-decoration: none;

    /* background-color: #3fd0c9; */
}

.thought-f-main {
  justify-content: center;
  padding: 20x;
}

.thought-f {
  justify-content: center;
}

.thought-li {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
  
  /* CARDS */
  .card {
    margin: 0 0 20px 0;
    border: 3px solid #39603d;
    border-radius: var(--border-radius);
    background-color: white;
    color: #39603d;
  }
  
  .card-header {
    color: white;
    margin: 0;
    font-family: Noto Serif, serif;
    font-weight: 700;
    font-size: 20px;
    background-color: #39603d;
    padding: 0.625rem;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  
  .card-body {
    padding: 2.5%;
    color: black;
    font-family: Montserrat, sans-serif;
    /* font-weight: ; */
  }
  

.thought-body {
    font-family: Montserrat, sans-serif;
    color: #39603d;
    margin: 5px 15px;
    padding-bottom: 1%;
}

.thought-body:hover {
  font-family: Montserrat, sans-serif;
  color: #f1b24a;
  margin: 5px 15px;
  padding-bottom: 1%;
}

.thought-header {
    font-family: Noto Serif, serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    /* padding: 0.1rem; */
}

.thought-card {
    margin: 0 0 20px 0;
    border: 3px solid #39603d;
    background-color: white;
    border-radius: 10px;
    border-color: #39603d;
    color: #39603d;
    width: 65%;
}

.thought-date {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #808080;
    font-size: 15px;
    margin: 0px 15px;
    padding-bottom: 10px;
}

.friend-list {
  width: 30%;
}

.fl-tlk-title {
    font-family: Noto Serif, serif;
    font-weight: 700;
    font-size: 25px;
    color: #39603d;
}