.gl {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.gl-text {
    width: 65%;
}

.gl-title {
    font-family: Noto Serif, serif;
    font-weight: 700;
    font-size: 50px;
    color: #39603d;
}

.gl-description {
    margin: 5px 0px;
    padding-bottom: 20px;
    font-family: Montserrat, sans-serif;
    color: #39603d;
}

.gl-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}